<div>
  <h2 id="page-heading" data-cy="CheckTargetHeading">
    <span>Đối tượng đánh giá</span>

    <div class="d-flex justify-content-end">
      <!-- <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="isoApp.checkTarget.home.refreshListLabel">Refresh list</span>
      </button> -->

      <button id="jh-create-entity" data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-check-target" [routerLink]="['/check-target/new']">
        <fa-icon icon="plus"></fa-icon>
        <span>Thêm mới</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (checkTargets?.length === 0) {
  <div class="alert alert-warning" id="no-result">
    <span>No Check Targets found</span>
  </div>
  }

  @if (checkTargets && checkTargets.length > 0) {
  <div class="table-responsive table-entities" id="entities">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>

              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="name">
            <div class="d-flex">
              <span jhiTranslate="isoApp.checkTarget.name">Tên</span>

              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="inspectionTarget">
            <div class="d-flex">
              <span jhiTranslate="isoApp.checkTarget.inspectionTarget">Đối tượng kiểm tra</span>

              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="evaluationLevelId">
            <div class="d-flex">
              <span jhiTranslate="isoApp.checkTarget.evaluationLevelId">Cấp độ đánh giá (ID)</span>

              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="status">
            <div class="d-flex">
              <span jhiTranslate="isoApp.checkTarget.status">Trạng thái</span>

              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="createdAt">
            <div class="d-flex">
              <span jhiTranslate="isoApp.checkTarget.createdAt">Thời gian tạo</span>

              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="updatedAt">
            <div class="d-flex">
              <span jhiTranslate="isoApp.checkTarget.updatedAt">Thời gian cập nhật</span>

              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="updateBy">
            <div class="d-flex">
              <span jhiTranslate="isoApp.checkTarget.updateBy">Người cập nhật</span>

              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        @for (checkTarget of checkTargets; track trackId) {
        <tr data-cy="entityTable">
          <td>
            <a [routerLink]="['/check-target', checkTarget.id, 'view']">{{ checkTarget.id }}</a>
          </td>
          <td>{{ checkTarget.name }}</td>
          <td>{{ checkTarget.inspectionTarget }}</td>
          <td>{{ checkTarget.evaluationLevelId }}</td>
          <td>{{ checkTarget.status }}</td>
          <td>{{ checkTarget.createdAt | formatMediumDatetime }}</td>
          <td>{{ checkTarget.updatedAt | formatMediumDatetime }}</td>
          <td>{{ checkTarget.updateBy }}</td>
          <td class="text-end">
            <div class="btn-group">
              <a [routerLink]="['/check-target', checkTarget.id, 'view']" class="btn btn-info btn-sm"
                data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <!-- <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Xem</span> -->
              </a>

              <a [routerLink]="['/check-target', checkTarget.id, 'edit']" class="btn btn-primary btn-sm"
                data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <!-- <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Sửa</span> -->
              </a>

              <button type="submit" (click)="delete(checkTarget)" class="btn btn-danger btn-sm"
                data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <!-- <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Xóa</span> -->
              </button>
            </div>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  }
</div>