<div>
  <h2 id="page-heading" data-cy="PlanHeading">
    <span>Kế hoạch</span>

    <div class="d-flex justify-content-end">
      <p-button
        label="Gộp kế hoạch"
        icon="pi pi-file-plus"
        aria-label="Gross"
        styleClass="p-button-rounded p-button-info p-button-sm mr-2 gross-plan-btn"
        [severity]="'help'"
        (onClick)="navigateToGrossScript()"
      />
      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-plan"
        [routerLink]="['/plan/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span>Thêm mới</span>
      </button>
    </div>
  </h2>
  <!--
  <input type='radio' name="gender" />
  <input type='radio' name="gender" /> -->
  <p-table
    #dt2
    [value]="planDetailResults"
    dataKey="id"
    [tableStyle]="{ 'min-width': '60rem' }"
    [expandedRowKeys]="expandedRows"
    (onRowExpand)="onRowExpand($event)"
    (onRowCollapse)="onRowCollapse($event)"
    [globalFilterFields]="[
      'id',
      'code',
      'name',
      'subjectOfAssetmentPlan',
      'frequency',
      'timeStart',
      'timeEnd',
      'statusPlan',
      'createdAt',
      'updatedAt',
      'updateBy'
    ]"
    showGridlines
    stripedRows
  >
    <ng-template pTemplate="header">
      <tr>
        <th>STT</th>
        <th></th>
        <th style="width: 10%">Mã kế hoạch</th>
        <th>Tên kế hoạch</th>
        <th>Đối tượng kế hoạch đánh giá</th>
        <th>Tần suất</th>
        <th>Thời gian bắt đầu</th>
        <th>Thời gian kết thúc</th>
        <th>Người tạo</th>
        <th>Người cập nhật</th>
        <th>Thời gian tạo</th>
        <th>Thời gian cập nhật</th>
        <th>Trạng thái</th>
        <th>Tuỳ chọn</th>
      </tr>
      <tr>
        <th></th>
        <th></th>
        <th>
          <p-columnFilter type="text" field="country.name" placeholder="Search" ariaLabel="Filter Country"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="text" field="country.name" placeholder="Search" ariaLabel="Filter Country"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="text" field="country.name" placeholder="Search" ariaLabel="Filter Country"></p-columnFilter>
        </th>
        <th></th>
        <th>
          <p-columnFilter type="text" field="country.name" placeholder="Search" ariaLabel="Filter Country"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="text" field="country.name" placeholder="Search" ariaLabel="Filter Country"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="text" field="country.name" placeholder="Search" ariaLabel="Filter Country"></p-columnFilter>
        </th>
        <th></th>
        <th>
          <p-columnFilter type="text" field="country.name" placeholder="Search" ariaLabel="Filter Country"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="text" field="country.name" placeholder="Search" ariaLabel="Filter Country"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="text" field="country.name" placeholder="Search" ariaLabel="Filter Country"></p-columnFilter>
        </th>

        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowNode let-expanded="expanded" let-index="rowIndex">
      <tr>
        <td>{{ index + 1 }}</td>
        <td>
          <p-button
            type="button"
            pRipple
            [pRowToggler]="rowNode"
            [text]="true"
            [rounded]="true"
            [plain]="true"
            [icon]="rowNode.expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
          ></p-button>
        </td>
        <td>{{ rowNode.id }}</td>
        <td>{{ rowNode.code }}</td>
        <td>{{ rowNode.name }}</td>
        <td>{{ rowNode.subjectOfAssetmentPlan }}</td>
        <td>{{ rowNode.frequency }}</td>
        <td>{{ rowNode.timeStart }}</td>
        <td>{{ rowNode.timeEnd }}</td>
        <td>{{ rowNode.status }}</td>
        <td>{{ rowNode.createdAt }}</td>
        <td>{{ rowNode.updatedAt }}</td>
        <td>{{ rowNode.updateBy }}</td>
        <td>
          <div class="action-buttons">
            <p-button
              icon="pi pi-copy"
              aria-label="Copy"
              styleClass="p-button-rounded p-button-info p-button-sm mr-2"
              [severity]="'info'"
            />
            <p-button
              icon="pi pi-pencil"
              aria-label="Edit"
              [rounded]="true"
              styleClass="p-button-rounded p-button-info p-button-sm mr-2"
              [severity]="'warning'"
              [routerLink]="['/plan', rowNode.id, 'edit']"
            />
            <p-button
              icon="pi pi-file-plus"
              aria-label="Gross"
              styleClass="p-button-rounded p-button-info p-button-sm mr-2"
              [severity]="'help'"
              (onClick)="navigateToInspectionReport(rowNode.id)"
            />
            <p-button
              icon="pi pi-check"
              aria-label="Check"
              styleClass="p-button-rounded p-button-info p-button-sm mr-2"
              [severity]="'success'"
              (onClick)="openModalCriteria()"
            />
            <p-button
              icon="pi pi-file-excel"
              aria-label="Excel"
              styleClass="p-button-rounded p-button-info p-button-sm mr-2"
              [severity]="'success'"
              (onClick)="openModalInspectionData()"
            />
            <p-button
              icon="pi pi-trash"
              aria-label="Delete"
              styleClass="p-button-rounded p-button-info p-button-sm mr-2"
              [severity]="'danger'"
            />
          </div>
        </td>
      </tr>
    </ng-template>
    <!-- table con -->
    <ng-template pTemplate="rowexpansion" let-rowNode>
      <tr>
        <td colspan="11">
          <div>
            <h5>Table con</h5>
            <p-table [value]="rowNode.planDetail" dataKey="id">
              <ng-template pTemplate="header">
                <tr>
                  <th>Mã BBKT</th>
                  <th>Tên mẫu BBKT</th>
                  <th>Đối tượng kiểm tra</th>
                  <th>Loại BBKT (ID)</th>
                  <th>Nhóm BBKT</th>
                  <th>Số lần thực hiện kiểm tra</th>
                  <th>Thời gian bắt đầu</th>
                  <th>Thời gian kết thúc</th>
                  <th>Người thực hiện kiểm tra</th>
                  <th>Tần suất kiểm tra</th>
                  <th>Trạng thái</th>
                  <th>Tuỳ chọn</th>
                </tr>
                <tr>
                  <th>
                    <p-columnFilter type="text" field="country.name" placeholder="Search" ariaLabel="Filter Country"></p-columnFilter>
                  </th>
                  <th>
                    <p-columnFilter type="text" field="country.name" placeholder="Search" ariaLabel="Filter Country"></p-columnFilter>
                  </th>
                  <th>
                    <p-columnFilter type="text" field="country.name" placeholder="Search" ariaLabel="Filter Country"></p-columnFilter>
                  </th>
                  <th>
                    <p-columnFilter type="text" field="country.name" placeholder="Search" ariaLabel="Filter Country"></p-columnFilter>
                  </th>
                  <th>
                    <p-columnFilter type="text" field="country.name" placeholder="Search" ariaLabel="Filter Country"></p-columnFilter>
                  </th>
                  <th>
                    <p-columnFilter type="text" field="country.name" placeholder="Search" ariaLabel="Filter Country"></p-columnFilter>
                  </th>
                  <th>
                    <p-columnFilter type="text" field="country.name" placeholder="Search" ariaLabel="Filter Country"></p-columnFilter>
                  </th>
                  <th>
                    <p-columnFilter type="text" field="country.name" placeholder="Search" ariaLabel="Filter Country"></p-columnFilter>
                  </th>
                  <th>
                    <p-columnFilter type="text" field="country.name" placeholder="Search" ariaLabel="Filter Country"></p-columnFilter>
                  </th>
                  <th>
                    <p-columnFilter type="text" field="country.name" placeholder="Search" ariaLabel="Filter Country"></p-columnFilter>
                  </th>
                  <th>
                    <p-columnFilter type="text" field="country.name" placeholder="Search" ariaLabel="Filter Country"></p-columnFilter>
                  </th>
                  <th></th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-detail>
                <tr>
                  <td>{{ detail.code }}</td>
                  <td>{{ detail.name }}</td>
                  <td>{{ detail.testOfObject }}</td>
                  <td>{{ detail.reportType }}</td>
                  <td>{{ detail.numberOfCheck }}</td>
                  <td>{{ detail.implementer }}</td>
                  <td>{{ detail.paticipant }}</td>
                  <td>{{ detail.checkerGroup }}</td>
                  <td>{{ detail.checker }}</td>
                  <td>{{ detail.frequency }}</td>
                  <td>{{ detail.status }}</td>
                  <td>
                    <div class="action-buttons">
                      <p-button
                        icon="pi pi-check"
                        aria-label="Check"
                        styleClass="p-button-rounded p-button-info p-button-sm mr-2"
                        [severity]="'success'"
                      />
                      <p-button
                        icon="pi pi-eye"
                        aria-label="View"
                        styleClass="p-button-rounded p-button-info p-button-sm mr-2"
                        [severity]="'info'"
                      />
                      <p-button
                        icon="pi pi-wrench"
                        aria-label="Report"
                        [rounded]="true"
                        styleClass="p-button-rounded p-button-info p-button-sm mr-2"
                        [severity]="'danger'"
                      />
                      <p-button
                        icon="pi pi-exclamation-triangle"
                        aria-label="ReportAgain"
                        styleClass="p-button-rounded p-button-info p-button-sm mr-2"
                        [severity]="'warning'"
                      />
                      <p-button
                        icon="pi pi-file-excel"
                        aria-label="Excel"
                        styleClass="p-button-rounded p-button-info p-button-sm mr-2"
                        [severity]="'success'"
                      />
                      <p-button
                        icon="pi pi-trash"
                        aria-label="Delete"
                        styleClass="p-button-rounded p-button-info p-button-sm mr-2"
                        [severity]="'danger'"
                      />
                    </div>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <ng-template #userTesting let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Phân quyền người thực hiện kiểm tra</h4>
      <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <div class="col-md-12">
        <div class="col-md-6">
          <label for="">Nhóm người dùng</label>
          <input type="text" class="form-control" />
        </div>
        <div class="col-md-6">
          <label for="">Người dùng</label>
          <input type="text" class="form-control" />
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="modal.close('Save click')">Lưu</button>
      <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Cancel click')">Hủy</button>
    </div>
  </ng-template>

  <ng-template #gross let-modal class="gross-modal">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-gross-title">Gộp BBKT</h4>
      <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <div class="col-md-12">
        <div class="col-md-6">
          <label for="">Đối tượng kiểm tra</label>
          <input type="text" name="" id="" class="form-control" />
        </div>
        <div class="col-md-6">
          <label for="">Quy đổi</label>
          <input type="text" name="" id="" class="form-control" />
        </div>
        <div class="col-md-6">
          <label for="">Mẫu BBKT</label>
          <input type="text" name="" id="" class="form-control" />
        </div>
        <div class="col-md-6">
          <label for="">Mã kế hoạch</label>
          <input type="text" name="" id="" class="form-control" />
        </div>
        <button type="button" class="btn btn-primary" (click)="modal.close('Save click')">Apply</button>
      </div>

      <p-table>
        <ng-template pTemplate="header">
          <tr>
            <th>STT</th>
            <th>Mã kế hoạch</th>
            <th>Tên kế hoạch kiểm tra</th>
            <th>Đối tượng kế hoạch đánh giá</th>
            <th>Tần suất kế hoạch</th>
            <th>Mã BBKT</th>
            <th>Tên mẫu BBKT</th>
            <th>Đối tượng KT</th>
            <th>Loại BBKT</th>
            <th>Nhóm BBKT</th>
            <th>Trạng thái</th>
            <th>Gộp</th>
            <th>Ngày kiểm tra</th>
          </tr>
          <tr>
            <th>
              <p-columnFilter type="text" placeholder="Search " ariaLabel="Filter Country"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="text" placeholder="Search " ariaLabel="Filter Country"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="text" placeholder="Search " ariaLabel="Filter Country"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="text" placeholder="Search " ariaLabel="Filter Country"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="text" placeholder="Search " ariaLabel="Filter Country"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="text" placeholder="Search " ariaLabel="Filter Country"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="text" placeholder="Search " ariaLabel="Filter Country"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="text" placeholder="Search " ariaLabel="Filter Country"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="text" placeholder="Search " ariaLabel="Filter Country"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="text" placeholder="Search " ariaLabel="Filter Country"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="text" placeholder="Search " ariaLabel="Filter Country"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="text" placeholder="Search " ariaLabel="Filter Country"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="text" placeholder="Search " ariaLabel="Filter Country"></p-columnFilter>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowNode>
          <tr>
            <td><input type="text" name="" id="" class="form-control" /></td>
            <td><input type="text" name="" id="" class="form-control" /></td>
            <td><input type="text" name="" id="" class="form-control" /></td>
            <td><input type="text" name="" id="" class="form-control" /></td>
            <td><input type="text" name="" id="" class="form-control" /></td>
            <td><input type="text" name="" id="" class="form-control" /></td>
            <td><input type="text" name="" id="" class="form-control" /></td>
            <td><input type="text" name="" id="" class="form-control" /></td>
            <td><input type="text" name="" id="" class="form-control" /></td>
            <td><input type="text" name="" id="" class="form-control" /></td>
            <td><input type="text" name="" id="" class="form-control" /></td>
            <td><input type="text" name="" id="" class="form-control" /></td>
            <td><input type="text" name="" id="" class="form-control" /></td>
          </tr>
        </ng-template>
      </p-table>
      <div class="action-buttons">
        <p-button
          label="Huỷ"
          icon="pi pi-ban"
          aria-label="Cancel"
          styleClass="p-button-rounded p-button-info p-button-sm mr-2"
          [severity]="'danger'"
        />
        <p-button
          label="Lưu"
          icon="pi pi-save"
          aria-label="Save"
          styleClass="p-button-rounded p-button-info p-button-sm mr-2"
          [severity]="'info'"
        />
        <p-button
          label="Apply"
          icon="pi pi-check"
          aria-label="Apply"
          styleClass="p-button-rounded p-button-info p-button-sm mr-2"
          [severity]="'success'"
        />
        <p-button
          (onClick)="navigateToInspectionReport(modal)"
          label="Check"
          icon="pi pi-pencil"
          aria-label="Check"
          styleClass="p-button-rounded p-button-info p-button-sm mr-2"
          [severity]="'warning'"
        />
      </div>
    </div>
  </ng-template>

  <ng-template #criteria let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-criteria-title">Nội dung kiểm tra</h4>
      <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')" aria-label="Close"></button>
    </div>
    <p-table [value]="planData">
      <ng-template pTemplate="header">
        <tr>
          <th>STT</th>
          <th>Nhóm tiêu chí</th>
          <th>Tên tiêu chí</th>
          <th>Trạng thái</th>
          <th>Tuỳ chọn</th>
        </tr>
        <tr>
          <th></th>
          <th><p-columnFilter type="text" placeholder="Search " ariaLabel="Filter Country"></p-columnFilter></th>
          <th><p-columnFilter type="text" placeholder="Search " ariaLabel="Filter Country"></p-columnFilter></th>
          <th><p-columnFilter type="text" placeholder="Search " ariaLabel="Filter Country"></p-columnFilter></th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-criteria let-index="rowIndex">
        <tr>
          <td>{{ index + 1 }}</td>
          <td>{{ criteria.code }}</td>
          <td>{{ criteria.name }}</td>
          <td>{{ criteria.status }}</td>
          <td>
            <p-button
              icon="pi pi-check-square"
              aria-label="Induce"
              styleClass="p-button-rounded p-button-info p-button-sm mr-2"
              [severity]="'success'"
              (onClick)="openModalEvaluation()"
            />
          </td>
        </tr>
      </ng-template>
    </p-table>
  </ng-template>

  <ng-template #evaluationResult let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-evaluation-title">Kết luận tiêu chí</h4>
      <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <div class="col-md-12">
        <div class="col-md-6">
          <label for="">Nhóm tiêu chí</label>
          <input type="text" class="form-control" />
        </div>
        <div class="col-md-6">
          <label for="">Tên tiêu chí</label>
          <input type="text" class="form-control" />
        </div>
      </div>
      <p-table>
        <ng-template pTemplate="header">
          <tr>
            <th>STT</th>
            <th>Mã BBKT</th>
            <th>Đối tượng kiểm tra</th>
            <th>Tần suất</th>
            <th>Đánh giá</th>
            <th>Nội dung đánh giá</th>
            <th>Hình ảnh đánh giá</th>
            <th>Trạng thái</th>
          </tr>
          <tr>
            <th><p-columnFilter type="text" placeholder="Search " ariaLabel="Filter Country"></p-columnFilter></th>
            <th><p-columnFilter type="text" placeholder="Search " ariaLabel="Filter Country"></p-columnFilter></th>
            <th><p-columnFilter type="text" placeholder="Search " ariaLabel="Filter Country"></p-columnFilter></th>
            <th><p-columnFilter type="text" placeholder="Search " ariaLabel="Filter Country"></p-columnFilter></th>
            <th><p-columnFilter type="text" placeholder="Search " ariaLabel="Filter Country"></p-columnFilter></th>
            <th><p-columnFilter type="text" placeholder="Search " ariaLabel="Filter Country"></p-columnFilter></th>
            <th><p-columnFilter type="text" placeholder="Search " ariaLabel="Filter Country"></p-columnFilter></th>
            <th><p-columnFilter type="text" placeholder="Search " ariaLabel="Filter Country"></p-columnFilter></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body">
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </ng-template>
      </p-table>
      <div class="action-buttons">
        <p-button
          label="Huỷ"
          icon="pi pi-ban"
          aria-label="Cancel"
          styleClass="p-button-rounded p-button-info p-button-sm mr-2"
          [severity]="'danger'"
        />
        <p-button
          label="Lưu"
          icon="pi pi-save"
          aria-label="Save"
          styleClass="p-button-rounded p-button-info p-button-sm mr-2"
          [severity]="'info'"
        />
      </div>
    </div>
  </ng-template>

  <ng-template #inspectionData let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="moda-inspection-data-title">Dữ liệu kiểm tra</h4>
      <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <div class="col-md-12">
        <div class="col-md-6">
          <label for="">Mã kế hoạch</label>
          <input type="text" class="form-control" />
        </div>
        <div class="col-md-6">
          <label for="">Tên kế hoạch</label>
          <input type="text" class="form-control" />
        </div>
        <div class="col-md-6">
          <label for="">Đối tượng kế hoạch đánh giá</label>
          <input type="text" class="form-control" />
        </div>
        <div class="col-md-6">
          <label for="">Tần suất</label>
          <input type="text" class="form-control" />
        </div>
      </div>
      <p-table>
        <ng-template pTemplate="header">
          <tr>
            <th>STT</th>
            <th>Mã BBKT</th>
            <th>Tên BBKT</th>
            <th>Đối tượng kiểm tra</th>
            <th>Tổng đợt kiểm tra</th>
            <th>Thang điểm</th>
            <th>Tổng điểm quy lỗi</th>
            <th>Tổng điểm BBKT</th>
            <th>Điểm trung bình</th>
            <th>Tổng lỗi</th>
            <th>Tuỳ chọn</th>
          </tr>
          <tr>
            <th><p-columnFilter type="text" placeholder="Search " ariaLabel="Filter Country"></p-columnFilter></th>
            <th><p-columnFilter type="text" placeholder="Search " ariaLabel="Filter Country"></p-columnFilter></th>
            <th><p-columnFilter type="text" placeholder="Search " ariaLabel="Filter Country"></p-columnFilter></th>
            <th><p-columnFilter type="text" placeholder="Search " ariaLabel="Filter Country"></p-columnFilter></th>
            <th><p-columnFilter type="text" placeholder="Search " ariaLabel="Filter Country"></p-columnFilter></th>
            <th><p-columnFilter type="text" placeholder="Search " ariaLabel="Filter Country"></p-columnFilter></th>
            <th><p-columnFilter type="text" placeholder="Search " ariaLabel="Filter Country"></p-columnFilter></th>
            <th><p-columnFilter type="text" placeholder="Search " ariaLabel="Filter Country"></p-columnFilter></th>
            <th><p-columnFilter type="text" placeholder="Search " ariaLabel="Filter Country"></p-columnFilter></th>
            <th><p-columnFilter type="text" placeholder="Search " ariaLabel="Filter Country"></p-columnFilter></th>
            <th><p-columnFilter type="text" placeholder="Search " ariaLabel="Filter Country"></p-columnFilter></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body">
          <tr>
            <td><input type="text" class="form-control" /></td>
            <td><input type="text" class="form-control" /></td>
            <td><input type="text" class="form-control" /></td>
            <td><input type="text" class="form-control" /></td>
            <td><input type="text" class="form-control" /></td>
            <td><input type="text" class="form-control" /></td>
            <td><input type="text" class="form-control" /></td>
            <td><input type="text" class="form-control" /></td>
            <td><input type="text" class="form-control" /></td>
            <td><input type="text" class="form-control" /></td>
            <td><input type="text" class="form-control" /></td>
          </tr>
        </ng-template>
      </p-table>
      <p-button
        label="Xuất dữ liệu"
        icon="pi pi-file-export"
        aria-label="File"
        styleClass="p-button-rounded p-button-info p-button-sm mr-2"
        [severity]="'success'"
        (onClick)="openModalDeltailInspectionData()"
      />
    </div>
  </ng-template>

  <ng-template #detailInspectionData let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-detail-inspection-data-title">Dữ liệu kế hoạch kiểm tra chi tiết</h4>
      <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <div class="col-md-12">
        <div class="col-md-6">
          <label for="">Mã kế hoạch</label>
          <input type="text" class="form-control" />
        </div>
        <div class="col-md-6">
          <label for="">Tên kế hoạch</label>
          <input type="text" class="form-control" />
        </div>
        <div class="col-md-6">
          <label for="">Đối tượng kế hoạch đánh giá</label>
          <input type="text" class="form-control" />
        </div>
        <div class="col-md-6">
          <label for="">Tần suất</label>
          <input type="text" class="form-control" />
        </div>
      </div>
      <p-table>
        <ng-template pTemplate="header">
          <tr>
            <th>STT</th>
            <th>Điểm theo đợt kiểm tra</th>
            <th>Tên BBKT</th>
            <th>Ngày kiểm tra</th>
            <th>NC</th>
            <th>LY</th>
            <th>Không đạt</th>
            <th>Tuỳ chọn</th>
          </tr>
          <tr>
            <th><p-columnFilter type="text" placeholder="Search " ariaLabel="Filter Country"></p-columnFilter></th>
            <th><p-columnFilter type="text" placeholder="Search " ariaLabel="Filter Country"></p-columnFilter></th>
            <th><p-columnFilter type="text" placeholder="Search " ariaLabel="Filter Country"></p-columnFilter></th>
            <th><p-columnFilter type="text" placeholder="Search " ariaLabel="Filter Country"></p-columnFilter></th>
            <th><p-columnFilter type="text" placeholder="Search " ariaLabel="Filter Country"></p-columnFilter></th>
            <th><p-columnFilter type="text" placeholder="Search " ariaLabel="Filter Country"></p-columnFilter></th>
            <th><p-columnFilter type="text" placeholder="Search " ariaLabel="Filter Country"></p-columnFilter></th>
            <th><p-columnFilter type="text" placeholder="Search " ariaLabel="Filter Country"></p-columnFilter></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body">
          <tr>
            <td><input type="text" class="form-control" /></td>
            <td><input type="text" class="form-control" /></td>
            <td><input type="text" class="form-control" /></td>
            <td><input type="text" class="form-control" /></td>
            <td><input type="text" class="form-control" /></td>
            <td><input type="text" class="form-control" /></td>
            <td><input type="text" class="form-control" /></td>
            <td>
              <p-button
                icon="pi pi-file-plus"
                aria-label="Gross"
                styleClass="p-button-rounded p-button-info p-button-sm mr-2"
                [severity]="'help'"
              />
            </td>
          </tr>
        </ng-template>
      </p-table>
      <p-button
        icon="pi pi-file-plus"
        aria-label="Gross"
        styleClass="p-button-rounded p-button-info p-button-sm mr-2"
        [severity]="'help'"
        (onClick)="openModalCriteriaConclusion()"
      />
    </div>
  </ng-template>

  <ng-template #criteriaConclusion let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-criteria-conclusion-title">Thông tin tiêu chí kết luận</h4>
      <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <div class="col-md-12">
        <div class="col-md-6">
          <label for="">Ngày kiểm tra</label>
          <input type="text" class="form-control" />
        </div>
        <div class="col-md-6">
          <label for="">Tên BBKT</label>
          <input type="text" class="form-control" />
        </div>
      </div>
      <p-table>
        <ng-template pTemplate="header">
          <tr>
            <th>STT</th>
            <th>Nhóm tiêu chí</th>
            <th>Tên tiêu chí</th>
            <th>Kết luận</th>
            <th>Nội dung đánh giá</th>
            <th>Hình ảnh đánh giá</th>
            <th>Trạng thái</th>
          </tr>
          <tr>
            <th><p-columnFilter type="text" placeholder="Search " ariaLabel="Filter Country"></p-columnFilter></th>
            <th><p-columnFilter type="text" placeholder="Search " ariaLabel="Filter Country"></p-columnFilter></th>
            <th><p-columnFilter type="text" placeholder="Search " ariaLabel="Filter Country"></p-columnFilter></th>
            <th><p-columnFilter type="text" placeholder="Search " ariaLabel="Filter Country"></p-columnFilter></th>
            <th><p-columnFilter type="text" placeholder="Search " ariaLabel="Filter Country"></p-columnFilter></th>
            <th><p-columnFilter type="text" placeholder="Search " ariaLabel="Filter Country"></p-columnFilter></th>
            <th><p-columnFilter type="text" placeholder="Search " ariaLabel="Filter Country"></p-columnFilter></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body">
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </ng-template>
  <!-- <p-treeTable [value]="treeNodes" [scrollable]="true" showGridlines [tableStyle]="{'min-width':'50rem'}">
  <ng-template pTemplate="header">
    <tr>
      <th>ID</th>
      <th>Mã kế hoạch</th>
      <th>Tên kế hoạch</th>
      <th>Đối tượng kế hoạch đánh giá</th>
      <th>Tần suất</th>
      <th>Thời gian bắt đầu</th>
      <th>Thời gian kết thúc</th>
      <th>Trạng thái kế hoạch</th>
      <th>Đối tượng kiểm tra</th>
      <th>Loại BBKT (ID)</th>
      <th>Tên loại BBKT</th>
      <th>Số lần kiểm tra</th>
      <th>Người thực hiện</th>
      <th>Người tham gia</th>
      <th>Nhóm người dùng</th>
      <th>Tên người dùng</th>
      <th>Nhóm người dùng (ID)</th>
      <th>Tên người dùng (ID)</th>
      <th>Gộp</th>
      <th>Ngày kiểm tra</th>
      <th>Tên kết quả đánh giá</th>
      <th>Kịch bản (ID)</th>
      <th>Người tạo</th>
      <th>Trạng thái</th>
      <th>Thời gian tạo</th>
      <th>Thời gian cập nhật</th>
      <th>Người cập nhật</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowNode let-plan="rowData">
    <tr [ttRow]="rowNode">
      <td>
        <p-treeTableToggler [rowNode]="rowNode" />
        {{ plan.id }}
      </td>
      <td>{{ plan.code }}</td>
      <td>{{ plan.name }}</td>
      <td>{{ plan.subject }}</td>
      <td>{{ plan.frequency }}</td>
      <td>{{ plan.timeStart | formatMediumDatetime }}</td>
      <td>{{ plan.timeEnd | formatMediumDatetime }}</td>
      <td>{{ plan.statusPlan }}</td>
      <td>{{ plan.testObject }}</td>
      <td>{{ plan.reportTypeId }}</td>
      <td>{{ plan.reportTypeName }}</td>
      <td>{{ plan.subjectOfAssetmentPlan }}</td>
      <td>{{ plan.frequency }}</td>
      <td>{{ plan.timeStart | formatMediumDatetime }}</td>
      <td>{{ plan.timeEnd | formatMediumDatetime }}</td>
      <td>{{ plan.statusPlan }}</td>
      <td>{{ plan.testObject }}</td>
      <td>{{ plan.reportTypeId }}</td>
      <td>{{ plan.reportTypeName }}</td>
      <td>{{ plan.numberOfCheck }}</td>
      <td>{{ plan.implementer }}</td>
      <td>{{ plan.paticipant }}</td>
      <td>{{ plan.checkerGroup }}</td>
      <td>{{ plan.checkerName }}</td>
      <td>{{ plan.checkerGroupId }}</td>
      <td>{{ plan.checkerId }}</td>
      <td>{{ plan.gross }}</td>
      <td>{{ plan.timeCheck }}</td>
      <td>{{ plan.nameResult }}</td>
      <td>{{ plan.scriptId }}</td>
      <td>{{ plan.createBy }}</td>
      <td>{{ plan.status }}</td>
      <td>{{ plan.createdAt | formatMediumDatetime }}</td>
      <td>{{ plan.updatedAt | formatMediumDatetime }}</td>
      <td>{{ plan.updateBy }}</td>
    </tr>
  </ng-template>
</p-treeTable> -->

  <!-- @if (plans && plans.length > 0) {
<div class="table-responsive table-entities" id="entities">
  <table class="table table-striped" aria-describedby="page-heading">
    <thead>
      <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
        <th scope="col" jhiSortBy="id">
          <div class="d-flex">
            <span>ID</span>

            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="code">
          <div class="d-flex">
            <span>Mã kế hoạch</span>

            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="name">
          <div class="d-flex">
            <span>Tên kế hoạch</span>

            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="subjectOfAssetmentPlan">
          <div class="d-flex">
            <span>Đối tượng kế hoạch đánh giá</span>

            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="frequency">
          <div class="d-flex">
            <span>Tần suất</span>

            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="timeStart">
          <div class="d-flex">
            <span>Thời gian bắt đầu</span>

            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="timeEnd">
          <div class="d-flex">
            <span>Thời gian kết thúc</span>

            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="statusPlan">
          <div class="d-flex">
            <span>Trạng thái kế hoạch</span>

            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="testObject">
          <div class="d-flex">
            <span>Đối tượng kiểm tra</span>

            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="reportTypeId">
          <div class="d-flex">
            <span>Loại BBKT (ID)</span>

            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="reportTypeName">
          <div class="d-flex">
            <span>Tên loại BBKT</span>

            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="numberOfCheck">
          <div class="d-flex">
            <span>Số lần kiểm tra</span>

            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="implementer">
          <div class="d-flex">
            <span>Người thực hiện</span>

            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="paticipant">
          <div class="d-flex">
            <span>Người tham gia</span>

            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="checkerGroup">
          <div class="d-flex">
            <span>Nhóm người dùng</span>

            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="checkerName">
          <div class="d-flex">
            <span>Tên người dùng</span>

            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="checkerGroupId">
          <div class="d-flex">
            <span>Nhóm người dùng (ID)</span>

            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="checkerId">
          <div class="d-flex">
            <span>Tên người dùng (ID)</span>

            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="gross">
          <div class="d-flex">
            <span>Gộp</span>

            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="timeCheck">
          <div class="d-flex">
            <span>Ngày kiểm tra</span>

            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="nameResult">
          <div class="d-flex">
            <span>Tên kết quả đánh giá</span>

            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="scriptId">
          <div class="d-flex">
            <span>Kịch bản (ID)</span>

            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="createBy">
          <div class="d-flex">
            <span>Người tạo</span>

            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="status">
          <div class="d-flex">
            <span>Trạng thái</span>

            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="createdAt">
          <div class="d-flex">
            <span>Thời gian tạo</span>

            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="updatedAt">
          <div class="d-flex">
            <span>Thời gian cập nhật</span>

            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="updateBy">
          <div class="d-flex">
            <span>Người cập nhật</span>

            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      @for (plan of plans; track trackId) {
      <tr data-cy="entityTable">
        <td>
          <a [routerLink]="['/plan', plan.id, 'view']">{{ plan.id }}</a>
        </td>
        <td>{{ plan.code }}</td>
        <td>{{ plan.name }}</td>
        <td>{{ plan.subjectOfAssetmentPlan }}</td>
        <td>{{ plan.frequency }}</td>
        <td>{{ plan.timeStart | formatMediumDatetime }}</td>
        <td>{{ plan.timeEnd | formatMediumDatetime }}</td>
        <td>{{ plan.statusPlan }}</td>
        <td>{{ plan.testObject }}</td>
        <td>{{ plan.reportTypeId }}</td>
        <td>{{ plan.reportTypeName }}</td>
        <td>{{ plan.numberOfCheck }}</td>
        <td>{{ plan.implementer }}</td>
        <td>{{ plan.paticipant }}</td>
        <td>{{ plan.checkerGroup }}</td>
        <td>{{ plan.checkerName }}</td>
        <td>{{ plan.checkerGroupId }}</td>
        <td>{{ plan.checkerId }}</td>
        <td>{{ plan.gross }}</td>
        <td>{{ plan.timeCheck }}</td>
        <td>{{ plan.nameResult }}</td>
        <td>{{ plan.scriptId }}</td>
        <td>{{ plan.createBy }}</td>
        <td>{{ plan.status }}</td>
        <td>{{ plan.createdAt | formatMediumDatetime }}</td>
        <td>{{ plan.updatedAt | formatMediumDatetime }}</td>
        <td>{{ plan.updateBy }}</td>
        <td class="text-end">
          <div class="btn-group">
            <a [routerLink]="['/plan', plan.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
              <fa-icon icon="eye"></fa-icon>
            </a>

            <a [routerLink]="['/plan', plan.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
              <fa-icon icon="pencil-alt"></fa-icon>
            </a>

            <button type="submit" (click)="delete(plan)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
              <fa-icon icon="times"></fa-icon>
            </button>
          </div>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
} -->
</div>
