<div>
  <h2 id="page-heading" data-cy="EvaluatorHeading">
    <span>Người đánh giá</span>

    <div class="d-flex justify-content-end">
      <!-- <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="isoApp.evaluator.home.refreshListLabel">Refresh list</span>
      </button> -->

      <button id="jh-create-entity" data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-evaluator" [routerLink]="['/evaluator/new']">
        <fa-icon icon="plus"></fa-icon>
        <span>Thêm mới</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (evaluators?.length === 0) {
  <div class="alert alert-warning" id="no-result">
    <span jhiTranslate="isoApp.evaluator.home.notFound">No Evaluators found</span>
  </div>
  }

  @if (evaluators && evaluators.length > 0) {
  <div class="table-responsive table-entities" id="entities">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>

              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="name">
            <div class="d-flex">
              <span>Tên</span>

              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="userGroupId">
            <div class="d-flex">
              <span jhiTranslate="isoApp.evaluator.userGroupId">Nhóm người dùng</span>

              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="createdAt">
            <div class="d-flex">
              <span jhiTranslate="isoApp.evaluator.createdAt">Thời gian tạo</span>

              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="updatedAt">
            <div class="d-flex">
              <span jhiTranslate="isoApp.evaluator.updatedAt">Thời gian cập nhật</span>

              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="status">
            <div class="d-flex">
              <span jhiTranslate="isoApp.evaluator.status">Trạng thái</span>

              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="updateBy">
            <div class="d-flex">
              <span jhiTranslate="isoApp.evaluator.updateBy">Người cập nhật</span>

              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        @for (evaluator of evaluators; track trackId) {
        <tr data-cy="entityTable">
          <td>
            <a [routerLink]="['/evaluator', evaluator.id, 'view']">{{ evaluator.id }}</a>
          </td>
          <td>{{ evaluator.name }}</td>
          <td>{{ evaluator.userGroupId }}</td>
          <td>{{ evaluator.createdAt | formatMediumDatetime }}</td>
          <td>{{ evaluator.updatedAt | formatMediumDatetime }}</td>
          <td>{{ evaluator.status }}</td>
          <td>{{ evaluator.updateBy }}</td>
          <td class="text-end">
            <div class="btn-group">
              <a [routerLink]="['/evaluator', evaluator.id, 'view']" class="btn btn-info btn-sm"
                data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <!-- <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Xem</span> -->
              </a>

              <a [routerLink]="['/evaluator', evaluator.id, 'edit']" class="btn btn-primary btn-sm"
                data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <!-- <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Sửa</span> -->
              </a>

              <button type="submit" (click)="delete(evaluator)" class="btn btn-danger btn-sm"
                data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <!-- <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Xóa</span> -->
              </button>
            </div>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  }
</div>